body {
    /*add other fonts here*/
    font-family: 'Inter', sans-serif;
    line-height: 1.5;


    /* Colors */
    --primary-light: #fdf9f5;
    --secondary-light: #593196;
    --extra-bold-light: #3c2166;
    --secondary-light-transparent: rgba(89, 49, 150, 0.8);

    --primary-black: #0d1117;
    --secondary-black: #161b22;
    --secondary-black-transparent: rgba(22, 27, 34, 0.8);
    --black-accent: #21262d;

    /* two colors */
    --color-border-light: #d1d5da;
    --color-border-dark: #30363d;


    --success: #a9e5c1;
    --success-bold: #84dba7;
    --info: #b8e3f5;
    --info-bold: #7acced;
    --warning: #fbe5c0;
    --warning-bold: #f7cf89;
    --danger: #fec8c8;
    --danger-bold: #fd9898;

    --purple-50: #faf9fc;
    --purple-100: #f0ecf5;
    --purple-200: #e4deee;
    --purple-300: #d8cfe7;
    --purple-400: #cbbfde;
    --purple-500: #bcacd5;
    --purple-600: #ab97ca;
    --purple-700: #967ebd;
    --purple-800: #7b5dac;
    --purple-900: #4d2b84;

    /* text */
    --text-secondary: #8b949e;
    --text-black: #24292e; /* #1A202C */
    --text-light: #c9d1d9;

    /* link */
    --link-primary-light: #593196; /* --secondary-light  */
    --link-primary-active-light: #0d1117; /* --secondary-black   */
    --link--primary-dark: #7b5dac; /* --secondary-light  */
    --link-primary-active-dark: #fdf9f5; /* --primary-light   */

    /* common visited */
    --link-primary-visited: #8b949e; /* --text-secondary  */


    /* navbar */
    --transparent-white-15: rgba(255, 255, 255, 0.15);
}


/* Global style */
.dark-mode {
    background-color: var(--primary-black) !important;
    color: var(--text-light) !important;
}

.light-mode {
    background-color: var(--primary-light) !important;
    color: var(--text-black) !important;
}

/* Navigation bar style*/
nav.light-mode {
    background-color: var(--secondary-light-transparent) !important;
}

nav.dark-mode {
    background-color: var(--secondary-black-transparent) !important;
}

/* Helpers */

.visible {
    visibility: visible !important;
}

.collapse {
    visibility: collapse !important;
}

.invisible {
    display: none !important;
}


/* transitions */

.hidden {
    opacity: 0;
}

.element-is-visible {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
